*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    font-family:Segoe UI, Arial, sans-serif;

    background:linear-gradient(135deg,#4F46E5,#06B6D4);

}

.card{

    width:420px;

    background:rgba(255,255,255,.18);

    border:1px solid rgba(255,255,255,.3);

    backdrop-filter:blur(15px);

    border-radius:20px;

    padding:40px;

    text-align:center;

    color:white;

    box-shadow:0 20px 40px rgba(0,0,0,.3);

}

h1{

    font-size:36px;

    margin-bottom:20px;

}

p{

    font-size:18px;

    line-height:1.6;

    margin-bottom:30px;

}

button{

    background:white;

    color:#4F46E5;

    border:none;

    padding:14px 35px;

    border-radius:50px;

    font-size:17px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    transform:scale(1.05);

    background:#E0E7FF;

}